body {
    background-image: url('https://wallpaperaccess.com/full/1512223.jpg');
    background-color: #181818;
    background-size: cover;
    height: 500px;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

header {
    text-align: center;
    border-bottom: 2px solid #d3d3d3;
}
div.details, div.title {
    float: left;
    width: 50%;
    list-style-type: none;
}
#feed, #search {
    clear: both;
}
#top {
    padding-bottom: 135px;
}
#wrapper {
    background: #fff;
    border-radius:25px 75px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 1260px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
    position: absolute;
    left: 5%;
    right: 5%;
  }
h6, p {
    margin: 0px;
}
.details {
    word-wrap: break-word;
    margin-bottom: -20px;
}
.prof_pic {
    height: 50px;
    width: 50px;
}
.movie-post {
    background-color: #d3d3d3;
    border-radius:25px 75px;
    margin:5px;
    padding:20px;
    padding-left: 30px;
}
.sidebar, .user {
    float: left;
    width: 50;
}
.sidebar {
    background: #d3d3d3;
    border-radius:25px 75px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    display: inline-block;
}
.sidebar h4 {
    display: block;
    margin-bottom: -15px;
}
.sidebar li, .details li {
    list-style-type: none;
}
.sidebar li a {
    text-decoration: none;
}
.user {
    float: right;
}
.user img {
    border-radius: 25px 45px;
    margin-bottom: -20px;
    width: 100px;
    height: 100px;
}
.user h4 {
    margin-bottom: -5px;
}